@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: "poppins",sans-serif ;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(darkblue);
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(./survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 720px;
    height: 1600px;
}

#title {
    width: 700px;
    height: 40px;
    font-size: 2rem;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 8px;
}

#description {
    width: 700px;
    height: 27px;
    color: #f3f3f3;
    text-align: center;
    margin: 0 0 8px;
}

#survey-form {
    width: 650px;
    height: 1400px;
    font-size: 1rem;
    background-color: #1f1f3acc;
    border-radius: 0.25rem;
    padding: 40px;
}

#form-group {
    width: 650px;
    height: 100px;
    padding: 4px;
}

#name-label, #email-label, #number-label, p {
    width: 640px;
    height: 30px;
    color: #f3f3f3;
}

#name, #email, #number {
    width :610px;
    height: 24px;
    padding: 6px 12px 6px 12px;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

}

#dropdown, #most-like {
    width: 635px;
    height: 35px;
    padding: 6px 12px 6px 12px;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

label {
    color: #f3f3f3;
}

textarea {
    width: 630px;
    height: 100px;
    padding: 10px;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

#submit {
    width: 652px;
    height: 50px;
    padding: 12px;
    border: 1px solid#ced4da;
    background-color: #37AF65;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 2px;
}

.input-checkbox {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}
